@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
}

html[data-theme="dark"] {
  --button-text-color: #fff;
  --button-background-color: #363636;
  --button-border-color: #2d5091;

  --input-text-color: #fff;
  --input-placeholder-text-color: #c2c2c2;
  --input-background-color: #a3a3a3;
  --input-border-color: #0a0068;

  --background-color: #000000;
  --icon-book-color: #838383;
  --text-color: #fff;

  --header-bell-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(79deg)
    brightness(108%) contrast(101%);

  --sider-bg-color: #040029;
  --sider-card-bg-color: #00013f;

  --content-bg-color: #050631;
  --content-sider-color: #050631;

  --modal-bg-color: #120055;

  /* Цвета Градиента фона сайта для темной темы */
  --color1: hsl(303, 100%, 10%);
  --color2: hsl(289, 100%, 21%);
  --color3: hsl(315, 100%, 27%);
  --color4: hsl(329, 100%, 36%);
  --color5: hsl(337, 100%, 43%);
  --color6: hsl(303, 100%, 30%);
  --color7: hsl(283, 100%, 32%);
  --color8: hsl(286, 100%, 27%);
  --color9: hsl(293, 100%, 18%);
  --color10: hsl(300, 100%, 12%);
}

html[data-theme="light"] {
  --button-text-color: #000000;
  --button-background-color: #b1b1b1;
  --button-border-color: #0059ff;

  --input-text-color: #000000;
  --input-placeholder-text-color: #707070;
  --input-background-color: #ffffff;
  --input-border-color: #1100ff;

  --background-color: #b9b9b9;
  --icon-book-color: #000000;
  --text-color: #000000;

  --header-bell-color: invert(0%) sepia(0%) saturate(7468%) hue-rotate(158deg)
    brightness(103%) contrast(100%);

  --sider-bg-color: #8d8d8d;
  --sider-card-bg-color: #adadad;

  --content-bg-color: #a5a5a5;
  --content-sider-color: #a5a5a5;

  --modal-bg-color: #ffffff;

  /* Цвета Градиента фона сайта для темной темы */
  --color1: hsl(24, 100%, 13%);
  --color2: hsl(19, 100%, 30%);
  --color3: hsl(135, 100%, 38%);
  --color4: hsl(140, 100%, 41%);
  --color5: hsl(160, 100%, 39%);
  --color6: hsl(177, 100%, 34%);
  --color7: hsl(189, 100%, 37%);
  --color8: hsl(229, 100%, 35%);
  --color9: hsl(251, 100%, 18%);
  --color10: hsl(276, 100%, 12%);
}

.layout-container {
  /* Управление анимацией фона  */
  animation-name: gradientAnimation;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: 400%;
  background-position: 0% center;
  background-repeat: no-repeat;
  min-height: 100vh;

  background-image: repeating-linear-gradient(
    45deg,
    var(--color1) 0%,
    var(--color2) 21%,
    var(--color3) 38%,
    var(--color4) 39%,
    var(--color5) 46%,
    var(--color6) 54%,
    var(--color7) 61%,
    var(--color8) 69%,
    var(--color9) 79%,
    var(--color10) 100%
  );
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.ant-layout {
  background: var(--content-bg-color) !important;
  transition: background-color 500ms linear;
  overflow-x: hidden;
}

.header-custom {
  background-color: var(--background-color);
  color: var(--text-color);
  height: auto;
  transition:
    background-color 500ms linear,
    color 900ms linear;
  @media (max-width: 640px) {
    display: flex;
    line-height: 0px;
    flex-direction: column;
  }
}

.sider-custom {
  background-color: var(--sider-bg-color);
  color: var(--text-color);
  transition:
    background-color 500ms linear,
    color 900ms linear;
}

.card-custom {
  background-color: var(--sider-card-bg-color);
  border-color: var(--text-color);
  margin-top: 5px;
  transition: background-color 500ms linear;
}

.ant-card-head-title {
  color: var(--text-color);
  transition: color 900ms linear;
}

.content-custom {
  background-color: var(--content-bg-color);
  color: var(--text-color) !important;
  transition:
    background-color 500ms linear,
    color 900ms linear;
}

.content-abpa-point {
  background-color: var(--sider-bg-color);
  color: var(--text-color) !important;
  transition:
    background-color 500ms linear,
    color 900ms linear;
}

.ant-progress-text {
  color: var(--text-color) !important;
}

.footer-custom {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 500ms linear,
    color 900ms linear;
}

.scrollbar-sider {
  scrollbar-color: var(--text-color) var(--sider-bg-color);
  transition: scrollbar-color 200ms linear;
}

.scrollbar-sider-content {
  scrollbar-color: var(--text-color) var(--content-sider-color);
  transition: scrollbar-color 200ms linear;
}

.ant-modal-content {
  background-color: var(--modal-bg-color) !important;
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
  border-radius: 10px;
}

.ant-modal-title {
  background-color: var(--modal-bg-color) !important;
  color: var(--text-color) !important;
}

.ant-form-item-required {
  color: var(--text-color) !important;
}

.custom-label .ant-form-item-label > label {
  color: var(--text-color);
}

.anticon {
  color: var(--text-color) !important;
}

.header-img-bell {
  filter: var(--header-bell-color);
  transition: filter 200ms linear;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-alert-info .ant-alert-icon {
  color: #0c00b9 !important;
}

:where(.css-dev-only-do-not-override-xepvsj).ant-alert-info .ant-alert-icon {
  color: #0c00b9 !important;
}

:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-body {
  padding-right: 10px;
  @media (max-width: 640px) {
    padding-right: 2px;
    .btn-look {
      width: 84px;
    }
  }
}

:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-head {
  @media (max-width: 640px) {
    padding-right: 5px;
    padding-left: 15px;
  }
}
